
@{
    ViewData["Title"] = "Staff";
}

<h1>Starff</h1>
<h3>Our team is great, we have an amazing group of engineers with a great variaty of skills that allow us to achive awesome projects</h3>
<!-- Card deck -->
<div class="card-deck">

    <!-- Card -->
    <div class="card mb-4 box-shadow">

        <!--Card image-->
        <div class="view overlay">
            <img class="card-img-top" src="https://media.licdn.com/dms/image/C4E03AQHAqXloBNWVjw/profile-displayphoto-shrink_800_800/0?e=1559779200&v=beta&t=GglG74E3V9yw4wNUhP4ugXT4y7mowkaOuWzV5QuvsyA" alt="Card image cap">
            <a href="#!">
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>

        <!--Card content-->
        <div class="card-body">

            <!--Title-->
            <h4 class="card-title">Karolina Ladino Puerto</h4>
            <hr/>
            <h5 style="margin-top:15px; margin-bottom:15px" class="card-subtitle font-weight-bold">Hardware and Software Dev</h5>
            <!--Text-->
            <p style="margin-bottom:60px; text-align:justify" class="card-text">
                I'm a Automation and Robotics Engineer and Maker.
                +5 years of experience making hardware and leading projects and teams.
            </p>
            <hr />
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <div class="container-fluid" style="position:absolute; bottom:5px; text-align:center">
                <a style="color:steelblue" href="https://www.linkedin.com/in/karobot/"><i class="fab fa-linkedin fa-3x"></i></a>
                <a style="color:dodgerblue" href="https://www.facebook.com/KaroLadino"><i class="fab fa-twitter fa-3x"></i></a>
                <a style="color:darkblue" href="https://twitter.com/karobotco"><i class="fab fa-facebook fa-3x"></i></a>
                <a style="color:black" href="https://www.instagram.com/karobot.co/"><i class="fab fa-instagram fa-3x"></i></a>
            </div>
        </div>

    </div>
    <!-- Card -->
    <!-- Card -->
    <div class="card mb-4 box-shadow">

        <!--Card image-->
        <div class="view overlay">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/14.jpg" alt="Card image cap">
            <a href="#!">
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>

        <!--Card content-->
        <div class="card-body">

            <!--Title-->
            <h4 class="card-title">Andrés Felipe Lujan</h4>
            <!--Text-->
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <button type="button" class="btn btn-light-blue btn-md">Read more</button>

        </div>

    </div>
    <!-- Card -->
    <!-- Card -->
    <div class="card mb-4 box-shadow">

        <!--Card image-->
        <div class="view overlay">
            <img class="card-img-top" src="https://media.licdn.com/dms/image/C4E03AQH4ENA8XkwXdQ/profile-displayphoto-shrink_200_200/0?e=1559779200&v=beta&t=KMLlb_QK-DccG7U9nsAXecxrdqrw766RvihsMBb-yDk" alt="Card image cap">
            <a href="#!">
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>

        <!--Card content-->
        <div class="card-body">

            <!--Title-->
            <h4 class="card-title">Manuel Alejandro Ordoñez</h4>
            <hr/>
            <h5 style="margin-top:15px; margin-bottom:15px" class="card-subtitle font-weight-bold">Hardware and Software Dev</h5>
            <!--Text-->
            <p style="margin-bottom:60px; text-align:justify" class="card-text">Automation Engineer who loves tech and cats. I love learning and acquiring new knowledge</p>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <div class="container-fluid" style="position:absolute; bottom:5px; text-align:center">
                <a style="color:steelblue" href="https://www.linkedin.com/in/manuel-alejandro-ordoñez-846353a9/"><i class="fab fa-linkedin fa-3x"></i></a>
                <a style="color:dodgerblue" href="https://www.facebook.com/manuelalejandro.ordonez1"><i class="fab fa-twitter fa-3x"></i></a>
                <a style="color:darkblue" href="https://twitter.com/alejandro_322_"><i class="fab fa-facebook fa-3x"></i></a>
                <a style="color:black" href="https://twitter.com/alejandro_322_"><i class="fab fa-instagram fa-3x"></i></a>
            </div>


        </div>

    </div>
    <!-- Card -->

</div>
<!-- Card deck -->
