@using Bogota_Robotics_Company.Models;
@model ProfileViewModel;

@{
    ViewData["Title"] = "Profile";
}

<div class="container-fluid" style="padding:0; min-width:100%; min-height:100%">
    <div class="row justify-content-center" style="padding:0; min-width:100%; height:100vh; width:100vw">
        <div class="col-lg-3" style="text-align:center; background-color:black">
            <!--Left Panel-->
            <img class="img-fluid z-depth-1 rounded-circle" src="https://media.licdn.com/dms/image/C4E03AQH4ENA8XkwXdQ/profile-displayphoto-shrink_200_200/0?e=1559779200&v=beta&t=KMLlb_QK-DccG7U9nsAXecxrdqrw766RvihsMBb-yDk" />
            <h4 style="color:white">@Model.Profile.Name</h4>
        </div>
        <div class="col-lg-9">
            <p>asdflkjaslkdjfl;ajsdl;fjka;dsf</p>
        </div>
    </div>
</div>

